.vs/
Debug/
Release/
*.aps
*.log
RuntimeData/*.cso
RuntimeData/*.exe
RuntimeData/*.ilk
RuntimeData/*.pdb
RuntimeData/*.iobj
RuntimeData/*.ipdb
RuntimeData/*.ini
RuntimeData/*.zip
RuntimeData/OutputImages/*.png
RuntimeData/OutputImages/*.ppm
